{% extends "layouts/main.html" %}

{% block header %}


  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="/homepage" class="govuk-header__link govuk-header__service-name">
        HM Land Registry developer pack
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
  },
  html: 'This is a prototype of a new design for the Business Gateway developer pack. You might experience problems.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Send a document API
      </h1>
      <p class="govuk-body-l">Use this service to attach documents to your application.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          These API endpoints are not currently live.
        </strong>
      </div>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#overview" class="govuk-link">
                Overview
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#view-the-technical-guide" class="govuk-link">
                View the technical guide
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#view-the-api-specification" class="govuk-link">
                View the API specification
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#how-the-service-api-works" class="govuk-link">
                How the API works
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#how-to-test-this-service-api" class="govuk-link">
                How to test this API
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      <div>

      <h2 class="govuk-heading-m" id="overview"><br>Overview</h2>
            <p class="govuk-body">
          The Send a document API should be used to attach documents to your application. This service can be integrated using the REST core API.</p>

          <p class="govuk-body">There are two steps for sending a document:</p>
          <ol class="govuk-list govuk-list--number">
          <li>A request to generate an upload URL</li>
          <li>A request to upload the document</li>
        </ol>

          <p class="govuk-body">The request to generate an upload URL will respond with an HMLR URL that can be used to upload the document to. This URL is only active for 10 minutes after creation. The generate an upload URL endpoint will also return a document ID that can be used when using the Submit an application API. Documents uploaded via this process will be subject to HMLR security scanning.</p>
          <p class="govuk-body">Documents that have been uploaded can be used for up to 180 days, after which point they will be removed.</p>

        </div>

  <div>
    <h2 class="govuk-heading-m" id="view-the-technical-guide">View the technical guide</h2>

        <ul class="govuk-list">
          <li>
            <a class="govuk-body govuk-link" href="/apis/send-a-document-technical-guide">Technical guide</a>
          </li>
        </ul>
  </div>

<div>
      <h2 class="govuk-heading-m" id="view-the-api-specification">View the API specification</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-body govuk-link" href="https://landregistry.github.io/bgtechdoc/vcad/v0_3/vcad-spec.html#tag/Send-a-document-API" rel="noreferrer noopener" target="_blank">Web version (opens in new tab)</a>
        </li>
      </ul>
</div>

<div>
      <h3 class="govuk-heading-m" id="how-the-service-api-works">How the API works</h3>
      <div class="govuk-!-padding-bottom-3"></div>
<img src="/public/images/SendADocumentSequence.png" alt="A diagram showing how the Send a Document API works.">

  </div>
<br>

<div>
  <h3 class="govuk-heading-m" id="how-to-test-this-service-api">How to test this API</h3>
  <p class="govuk-body">HMLR has created a test environment for the Send a document API. We’ve also provided example code to demonstrate what you should expect when developing your own services.</p>
  <ul class="govuk-list">
    <li>
    <p class="govuk-body"><a class="govuk-body govuk-link" href="/apis/send-a-document-test-stubs">View Send a document test stubs</a>.</p>
    </li>
  </ul>

  <div class="govuk-inset-text">Please note there are also plans to release a sandbox test environment for developers in the future. The exact release date is to be confirmed.</div>

  <p class="govuk-body">For general testing guidance, visit our <a class="govuk-body govuk-link" href="/a-guide-to-testing">guide to testing</a>.</p>


  </div>

    </div>

  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="related-apis">
        Related APIs
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-body govuk-link" href="/apis/submit-an-application-to-change-the-land-register">
              Submit an application to change the Land Register
            </a>
          </li>
          <li>
            <a class="govuk-body govuk-link" href="/apis/submit-an-application">
              Submit an application
            </a>
          </li>
          <li>
            <a class="govuk-body govuk-link" href="/apis/application-information">
              Application information
            </a>
          </li>
          <li>
            <a class="govuk-body govuk-link" href="/apis/notifications">
              Notifications
            </a>
          </li>
          <li>
            <a class="govuk-body govuk-link govuk-!-font-weight-bold" href="/find-a-service-api">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>

</div>

{% endblock %}
