{% extends "layouts/main.html" %}

{% block header %}


  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="/homepage" class="govuk-header__link govuk-header__service-name">
        HM Land Registry developer pack
      </a>
    </div>
  </div>
</header>

{% endblock %}



{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
  },
  html: 'This is not a full service. It is not production code and you might experience problems.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Send a document service API- technical guide
      </h1>
      <p class="govuk-body-l">Use this service to attach documents to your application.</p>


      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#how-to-use-the-send-a-document-api">
                How to use the Send a document API
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#validation-rules">
                Validation rules
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#example-requests-and-responses">
                Example requests and responses
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      <h2 class="govuk-heading-m" id="how-to-use-the-send-a-document-api">How to use the Send a document API</h2>
        <div>

          <p class="govuk-body">This API consists of two endpoints that must be used together to upload a single document.</p>

<ol class="govuk-list govuk-list--number">
  <li><code style="color: #a71d5d; background-color: #f5f5f5">POST /v1/documents/url</code> - The generate an upload URL endpoint. The HTTP 	body of the request contains information about the file being uploaded</li>
  <li><code style="color: #a71d5d; background-color: #f5f5f5">PUT documentcapture.landregistry.gov.uk/...</code> - The upload a document endpoint. The HTTP body of the request is the bytes of the document</li>
</ol>

</div>
<div>

  <h3 class="govuk-heading-s">Generate an upload URL</h3>
  <p class="govuk-body">Making a POST request to the create upload URL endpoint will result in the following items being returned:</p>
  <p class="govuk-body"><code style="color: #a71d5d; background-color: #f5f5f5">upload_url</code> - This is the URL to make the PUT request to. This URL will only be valid for five minutes after generation. Five minutes is timed from the generation of the URL to the start of the upload. Neither the size of the document nor the speed of internet connection will cause the upload to timeout</p>
  <p class="govuk-body"><code style="color: #a71d5d; background-color: #f5f5f5">document_id</code> - This is a unique ID for this document, and must be included in the application submission payload</p>

  <h3 class="govuk-heading-s">Upload a document</h3>
  <p class="govuk-body">To upload a document, make a PUT request to the URL returned from the ‘Create an upload URL’ POST request above. This request should contain the document as the body content. A 200 HTTP code will be returned if the upload was successful. Documents will asynchronously be virus scanned and validated. Issues found during this process will be surfaced via the Application information API. Do not modify the URL received in the response.</p>

  <h2 class="govuk-heading-m" id="validation-rules">Validation rules</h2>
    <div>

      <p class="govuk-body">To pass validation, you must follow the guidance for implementing this service API below.</p>

      <h3 class="govuk-heading-s">File types</h3>

      <p class="govuk-body">Only four file types are supported by HMLR document upload:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>PDFs (must not be password protected)</li>
        <li>TIFFs</li>
        <li>GIFs</li>
        <li>PNGs</li>
      </ul>

        <p class="govuk-body">Any other file types are not supported and will cause application submission to fail.</p>

        <h3 class="govuk-heading-s">File length/SHA-256</h3>
        <p class="govuk-body">As part of the API to generate an upload URL, the API expects <code style="color: #a71d5d; background-color: #f5f5f5">file_length</code> and <code style="color: #a71d5d; background-color: #f5f5f5">file_sha256</code> parameters. These parameters refer to the file that will be uploaded to the URL.</p>

        <p class="govuk-body">These values must also be provided when making the PUT request to the upload URL, as headers:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><code style="color: #a71d5d; background-color: #f5f5f5">Content-Length : &ltvalue of file_length&gt </code></li>
          <li><code style="color: #a71d5d; background-color: #f5f5f5">X-Amz-Checksum-Sha256 : &ltvalue of file_sha256&gt </code></li>
        </ul>

          <p class="govuk-body">Where <code style="color: #a71d5d; background-color: #f5f5f5"> &ltvalue of x&gt</code> are the values that were given to the request to generate the upload URL and match the file that is included in the body of the request. If either of these values do not match or are not provided, you will receive a signature verification failure (HTTP 403).</p>

  <p class="govuk-body">The maximum size permitted for a single document upload is 40MiB (41943040 bytes).</p>


  <h3 class="govuk-heading-s">File length</h3>
  <p class="govuk-body">The <code style="color: #a71d5d; background-color: #f5f5f5">file_length</code> should be the size of the file in bytes. See below for code examples in several languages:</p>

<p class="govuk-body">Python</p>


<div class="container">
  <div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
    <pre>  <code style="color: #a71d5d">with</code><code> open(</code><code style="color: #1d70b8">"test.pdf" "rb"</code><code>)</code><code style="color: #a71d5d"> as</code><code> f:
    file_bytes <code style="color: #1d70b8">=</code> f.read()
    file_length <code style="color: #1d70b8">=</code> len(file_bytes) </code>
    </pre>
  </div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<p class="govuk-body">Bash</p>

<div class="container">
  <div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
    <pre>  <code>du</code><code style="color: #0E7754"> -b</code><code> test.pdf</code>
    </pre>
  </div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<p class="govuk-body">Java</p>

<div class="container">
  <div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
    <pre>  <code style="color: #4C4077">File</code><code> f(</code> <code style="color: #1d70b8">=</code><code style="color: #a71d5d"> new</code><code style="color: #4C4077"> File</code><code style="color: #1d70b8">("test.pdf")</code>;
  <code style="color: #4C4077">long</code><code> fileLength(</code> <code style="color: #1d70b8">=</code><code> f</code><code style="color: #1d70b8">.</code><code style="color: #4C4077">length</code><code style="color: #1d70b8">()</code>;
    </pre>
  </div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<p class="govuk-body">JavaScript (Node)</p>

<div class="container">
  <div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
    <pre>  <code style="color: #a71d5d">const</code><code style="color: #0E7754"> fs</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> require</code>("<code style="color: #1d70b8">fs</code>")
  <code style="color: #a71d5d">const</code><code style="color: #0E7754"> stats</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> fs</code>.<code style="color: #0E7754">statSync</code>("<code style="color: #1d70b8">test.pdf</code>")
  <code style="color: #a71d5d">const</code><code style="color: #0E7754"> fileLength</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> stats</code>.<code style="color: #0E7754">size</code>;
  </pre>
  </div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<h3 class="govuk-heading-s">File Sha256</h3>
<p class="govuk-body">The <code style="color: #a71d5d; background-color: #f5f5f5">file_sha256</code> is the base64 encoded 256-bit binary digest of the bytes of the file. This should be exactly 44 characters long, regardless of the length of the file. See below for code examples in several languages:</p>

<p class="govuk-body">Python</p>

<div class="container">
<div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
  <pre>  <code style="color: #a71d5d">with</code><code> open(</code><code style="color: #1d70b8">"test.pdf" "rb"</code><code>)</code><code style="color: #a71d5d"> as</code><code> f:
  file_bytes <code style="color: #1d70b8">=</code> f.read()
  hash <code style="color: #1d70b8">=</code>sha256(file_bytes)
  file_sha256 <code style="color: #1d70b8">=</code> b64encode(hash.digest())</code>
  </pre>
</div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<p class="govuk-body">Bash</p>

<div class="container">
<div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
  <pre>  cat test.pdf | openssl sha256<code style="color: #0E7754"> -binary</code>| openssl enc<code style="color: #0E7754"> -base64</code>
  </pre>
</div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<p class="govuk-body">Java</p>

<div class="container">
<div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
  <pre>  <code style="color: #4C4077">File</code><code> f </code> <code style="color: #1d70b8">=</code><code style="color: #a71d5d"> new</code><code style="color: #4C4077"> File</code><code style="color: #1d70b8">("test.pdf");</code>
  <code style="color: #4C4077">byte</code><code style="color: #1d70b8">[] </code>data<code style="color: #1d70b8"> = </code><code style="color: #4C4077"> Files</code><code style="color: #1d70b8">.</code><code style="color: #4C4077">readsAllBytes</code><code style="color: #1d70b8">(</code>f<code style="color: #1d70b8">);</code>
  <code style="color: #4C4077">MessageDigest</code> digester<code style="color: #1d70b8"> = </code><code style="color: #4C4077"> MessageDigest</code><code style="color: #1d70b8">.</code><code style="color: #4C4077">getInstance</code><code style="color: #1d70b8">("SHA256");</code>
  digester.<code style="color: #4C4077">update</code><code style="color: #1d70b8">(</code>data<code style="color: #1d70b8">);</code>
  <code style="color: #4C4077">String</code><code> fileSha256 </code> <code style="color: #1d70b8">=</code><code style="color: #4C4077"> Base64.getEncoder</code><code style="color: #1d70b8">().</code><code style="color: #4C4077">encodeToString</code><code style="color: #1d70b8">(</code>digester<code style="color: #1d70b8">.</code><code style="color: #4C4077">digest</code><code style="color: #1d70b8">());</code>
  </pre>
</div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<p class="govuk-body">JavaScript (Node)</p>

<div class="container">
<div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
  <pre>  <code style="color: #a71d5d">const</code><code style="color: #0E7754"> fs</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> require</code>("<code style="color: #1d70b8">fs</code>")
<code style="color: #a71d5d">const</code><code style="color: #0E7754"> stats</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> fs</code>.<code style="color: #0E7754">statSync</code>("<code style="color: #1d70b8">test.pdf</code>")
<code style="color: #a71d5d">const</code><code style="color: #0E7754"> fileLength</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> stats</code>.<code style="color: #0E7754">size</code>;
</pre>
</div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m" id="example-requests-and-responses">Example requests and responses</h2>

<h3 class="govuk-heading-s"> <code>POST /v1/documents/url</code> - Request</h3>

<div class="container">
<div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
  <pre>  <code style="color: #a71d5d">const</code><code style="color: #0E7754"> fs</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> require</code>("<code style="color: #1d70b8">fs</code>")
<code style="color: #a71d5d">const</code><code style="color: #0E7754"> stats</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> fs</code>.<code style="color: #0E7754">statSync</code>("<code style="color: #1d70b8">test.pdf</code>")
<code style="color: #a71d5d">const</code><code style="color: #0E7754"> fileLength</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> stats</code>.<code style="color: #0E7754">size</code>;
</pre>
</div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<h3 class="govuk-heading-s"> <code>POST /v1/documents/url</code> - Response</h3>

<div class="container">
<div class="box" style="background-color: #f3f2f1 ; padding: 5px;">
  <pre>  <code style="color: #a71d5d">const</code><code style="color: #0E7754"> fs</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> require</code>("<code style="color: #1d70b8">fs</code>")
<code style="color: #a71d5d">const</code><code style="color: #0E7754"> stats</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> fs</code>.<code style="color: #0E7754">statSync</code>("<code style="color: #1d70b8">test.pdf</code>")
<code style="color: #a71d5d">const</code><code style="color: #0E7754"> fileLength</code><code style="color: #1d70b8"> =</code><code style="color: #0E7754"> stats</code>.<code style="color: #0E7754">size</code>;
</pre>
</div>
</div>

<div class="govuk-!-padding-bottom-3"></div>

<p class="govuk-body">Note: The URL in the example may not be representative of the actual URL received.</p>

<p class="govuk-body"><b>PUT document - Request</b></p>
<ul class="govuk-list govuk-list--bullet">
  <li>URL matches upload_url in<code style="color: #a71d5d; background-color: #f5f5f5">/v1/documents/url</code> response</li>
  <li>Body content is the document to upload</li>
</ul>

<p class="govuk-body"><b>PUT document - Response</b></p>
<ul class="govuk-list govuk-list--bullet">
  <li>HTTP 200 on successful upload</li>
  <li>HTTP 4xx on failure</li>
</ul>





  {# <p class="govuk-body">Firstly, the file must be loaded into memory. In this example, we are reading a file from the filesystem:</p>
<code>with open("test.pdf", "rb") as f:<br>
    file_bytes = f.read()</code>
<div class="govuk-!-padding-bottom-2"></div>
<p class="govuk-body">Once you have the bytes, the next step is to generate the file sha256 and the file length variables, using the python “hashlib” library:</p>
<code>hash = sha256(file_bytes)<br>
file_sha256 = b64encode(hash.digest()) <br>
file_length = len(file_bytes) </code>
<div class="govuk-!-padding-bottom-2"></div>
<p class="govuk-body">Now you make the request to the document capture service, using the python “requests” library (note: authentication is removed for brevity):</p>

  <pre>
    <code class="language-javascript">
      response = requests.post(url, json = {
        "data": {
            "document_type": "TR1",
            "file_sha256": "file_sha256",
            "file_length": "file_length"
        }
    })
    </code>
  </pre>

<div class="govuk-!-padding-bottom-2"></div>
<p class="govuk-body">The final step is to check we received a 200 HTTP response:</p>
<code>if response.status_code != 200:  <br>
    print(response)  <br>
    raise RuntimeError("Failed to upload document")  <br>
print(f"Document with id {doc_id} uploaded successfully") </code>
<div class="govuk-!-padding-bottom-2"></div>
<p class="govuk-body">The whole process should be repeated for each document being uploaded. The document IDs should be stored, so they can be used during the application submission process.</p>

</div>

<div>
      <h2 class="govuk-heading-m">View API specification</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-body govuk-link" href="https://landregistry.github.io/bgtechdoc/vcad/v0_2/vcad-spec.html#tag/Submit-an-application-API/operation/Submit%20an%20application%20API" rel="noreferrer noopener" target="_blank">HTML specification (opens in new tab)</a>
        </li>
      </ul>
</div>

<div>
      <h3 class="govuk-heading-m">How the service API works</h3>

      <img src="/assets/img/submit-an-application-to-change-the-Land-Register-API.png" alt="A diagram showing the send a document service API">
</div>
<br>

<div>
  <h3 class="govuk-heading-m">How to test this service API</h3>
<p class="govuk-body">HMLR does not currently provide a test environment for integrators using our Business Gateway APIs. Instead, we’ve provided example code to demonstrate what you should expect to see when developing your own services. For general testing guidance, visit <a class="govuk-body govuk-link" href="/a-guide-to-testing">A guide to testing</a>.</p>

<h4 class="govuk-body"><b>POST /v1/documents/url - Request</b></h4>
<code>
{ <br>
  "data": { <br>
    "document_type": "TR1", <br>
    "file_length": 6362, <br>
    "file_sha256": "XHepSrLEhDPShYnPJwWArZERIvLcpvn8f8pyCS7crQA=" <br>
  } <br>
}
</code>

<h4 class="govuk-body"><b>POST /v1/documents/url - Response</b></h4>
<code>
{<br>
  "upload_url": "documentcapture.landregistry.gov.uk/04c5c3fe-aa08-473b-9944-64ef5506f8e2", <br>
  "document_id": "04c5c3fe-aa08-473b-9944-64ef5506f8e2"<br>
}
</code>

<br>
<br>

<p class="govuk-body-s">Note: The URL in the example may not be representative of the actual URL received. </p>
</div>

<h4 class="govuk-body"><b>URL matches upload_url in /v1/documents/url response</b></h>
<div class="govuk-!-padding-bottom-4"></div>
<p class="govuk-body-s">Body content is the document to upload</p>

<h4 class="govuk-body"><b>PUT document - Response</h4>

<p class="govuk-body-s">HTTP 200 on successful upload</p>

<p class="govuk-body-s">HTTP 4xx on failure</p> #}
</div>

<div>
{# <h3 class="govuk-heading-m">Technical details</h3>

<h4 class="govuk-heading-s">File length/SHA-256</h4>
<p class="govuk-body">As part of the API to generate an upload URL, the API expects <cide>file_length</code> and <code>file_sha256</code> parameters. These parameters refer to the file that will be uploaded to the URL.</p>
<p class="govuk-body">These values must also be provided when making the PUT request to the upload URL, as headers:</p>
<li><code style="color: #a71d5d">Content-Length : value of file_length </code></li>
<li><code style="color: #a71d5d">X-Amz-Checksum-Sha256 : value of file_sha256 </code></li>

<p class="govuk-body">Where <value of x> are the values that were given to the request to generate the upload URL and match the file that is included in the body of the request. If either of these values do not match or are not provided, you will receive a signature verification failure (HTTP 403).</p>

<h4 class="govuk-body"><b>File length</h4>

<p class="govuk-body">The <code>file_length</code> should be the size of the file in bytes. See below for code examples in several languages:</p>

<p class="govuk-body">Python</p>
<br>

<code>with open("test.pdf" "rb") as f:<br>
    file_bytes = f.read() <br>
    file_length = len(file_bytes)
  </code>
  <div class="govuk-!-padding-bottom-4"></div>
<p class="govuk-body">Bash</p>
<div class="govuk-!-padding-bottom-4"></div>
<code>du -b test.pdf</code>
<div class="govuk-!-padding-bottom-4"></div>
<p class="govuk-body">Java</p>
<div class="govuk-!-padding-bottom-4"></div>
<code>File f = new File("test.pdf"); <br>
long fileLength = f.length();</code>
<div class="govuk-!-padding-bottom-4"></div>
<p class="govuk-body">JavaScript (Node):</p>
<div class="govuk-!-padding-bottom-4"></div>
<code>const fs = require("fs"); <br>
const stats = fs.statSync("test.pdf"); <br>
const fileLength = stats.size;</code>

<h4 class="govuk-body"><b>File Sha256</h4>

<p class="govuk-body">The file_sha256 is the base64 encoded 256-bit binary digest of the bytes of the file. This should be exactly 44 characters long, regardless of the length of the file. See below for code examples in several languages:</p>

<p class="govuk-body">Python</p>
<br>

<code>with open("test.pdf" "rb") as f: <br>
    file_bytes = f.read()  <br>
    hash = sha256(file_bytes)  <br>
    file_sha256 = b64encode(hash.digest())
  </code>
  <div class="govuk-!-padding-bottom-4"></div>
<p class="govuk-body">Bash</p>
<div class="govuk-!-padding-bottom-4"></div>
<code>cat test.pdf | openssl sha256 -binary | openssl enc -base64</code>
<div class="govuk-!-padding-bottom-4"></div>
<p class="govuk-body">Java</p>
<div class="govuk-!-padding-bottom-4"></div>
<code>File f = new File("test.pdf"); <br>
byte[] data = Files.readAllBytes(f); <br>
MessageDigest digester = MessageDigest.getInstance("SHA-256"); <br>
digester.update(data); <br>
String fileSha256 = Base64.getEncoder().encodeToString(digester.digest()); </code>
<div class="govuk-!-padding-bottom-4"></div>
<p class="govuk-body">JavaScript (Node):</p>
<div class="govuk-!-padding-bottom-4"></div>
<code>const fs = require("fs"); <br>
const crypto = require("crypto"); <br>
 <br>
const shasum = crypto.createHash("sha256");  <br>
shasum.update(fs.getBytes());  <br>
shasum.digest("base64"); </code>

</div> #}

  </div>

  </main>






    </div>
  </div>

{% endblock %}
