{% extends "layouts/main.html" %}

show_subnav: true


{% block header %}



  <!-- Blank header with no service name for the start page -->



  {# {{ govukHeader() }} #}
  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="/homepage" class="govuk-header__link govuk-header__service-name">
        HM Land Registry developer pack
      </a>
    </div>
  </div>
</header>


{% endblock %}



{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">


    {{ govukPhaseBanner({
      tag: {
        text: "Prototype",
        classes: "govuk-tag--pink"
      },
      html: 'This is not a full service. It is not production code and you might experience problems.'
    }) }}



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">

            <nav class="moj-side-navigation" aria-label="Side navigation">
              <h4 class="moj-side-navigation__title">Before you start</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/what-to-expect-from-the-developer-pack">What to expect from the developer pack</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/how-to-access-business-gateway">How to access Business Gateway</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/terms-of-use">Terms of use</a>
                </li>
              </ul>

              <h4 class="moj-side-navigation__title">Explore APIs</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/learn-about-the-apis-we-use">Learn about the APIs we use</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/find-a-service-api">Find a service API</a>
                </li>

                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="/a-guide-to-testing"  aria-current="location">A guide to testing</a>
                </li>
              </ul>

              <h4 class="moj-side-navigation__title">Support</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/contact-us">Contact us</a>
                </li>
                <ul>
            </nav>

          </div>



        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Before you start</span>
          <h1 class="govuk-heading-xl">A guide to testing</h1>


          <div class="govuk-grid-row">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">HMLR does not currently provide a test environment for integrators using our Business Gateway APIs. Instead, we’ve provided example code to demonstrate what you should expect to see when developing your own services.
You’ll find test stub examples on service API pages and example request and response code in the service API technical guides.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">For additional support, <a class="govuk-body govuk-link" href="/contact-us">contact our integration support team</a>.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We sometimes use technical terms to describe the work we do at HMLR. For a list of commonly used terms and their definitions, visit <a class="govuk-link" href="/glossary">our glossary</a>.</p>


</div>

                      <div class="govuk-grid-column-one-third"></div>



                    </div>



                  </main>



                </div>
              </div>



              {% endblock %}
