{% extends "layouts/main.html" %}

show_subnav: true


{% block header %}



  <!-- Blank header with no service name for the start page -->



  {# {{ govukHeader() }} #}
  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="/homepage" class="govuk-header__link govuk-header__service-name">
        HM Land Registry developer pack
      </a>
    </div>
  </div>
</header>


{% endblock %}



{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">


    {{ govukPhaseBanner({
      tag: {
        text: "Prototype",
        classes: "govuk-tag--pink"
      },
      html: 'This is a prototype of a new design for the Business Gateway developer pack. You might experience problems.'
    }) }}



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">

            <nav class="moj-side-navigation" aria-label="Side navigation">
              <h4 class="moj-side-navigation__title">Before you start</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/what-to-expect-from-the-developer-pack">What to expect from the developer pack</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/how-to-access-business-gateway">How to access Business Gateway</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/terms-of-use">Terms of use</a>
                </li>
              </ul>

              <h4 class="moj-side-navigation__title">Explore APIs</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/learn-about-the-apis-we-use">Learn about the APIs we use</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/find-a-service-api">Find an API</a>
                </li>

                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="/a-guide-to-testing"  aria-current="location">A guide to testing</a>
                </li>
              </ul>

              <h4 class="moj-side-navigation__title">Support</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/contact-us">Contact us</a>
                </li>
              </ul>
            </nav>

          </div>



        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Before you start</span>
          <h1 class="govuk-heading-xl">A guide to testing</h1>


          <div class="govuk-grid-row">
            <h3 class="govuk-heading-m govuk-!-margin-left-3">Testing the Submit an application to change the land register APIs</h3>
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">HMLR provides a test environment for the <a class="govuk-body govuk-link" href="/apis/submit-an-application-to-change-the-land-register">Submit an application to change the land register APIs</a>. We’ve also provided example code to demonstrate what you should expect when developing your own services.</p>
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">You’ll find test stub examples on our API pages and example request and response code in the API technical guides.</p>
            <div class="govuk-inset-text">Please note there are also plans to release a sandbox test environment for developers in the future. The exact release date is to be confirmed.</div>
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">For additional support, <a class="govuk-body govuk-link" href="/contact-us">contact our integration support team</a>.</p>

            <h3 class="govuk-heading-m govuk-!-margin-left-3">Testing SOAP and REST APIs</h3>
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Information about testing SOAP and REST APIs will be added at a later date.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We sometimes use technical terms to describe the work we do at HMLR. For a list of commonly used terms and their definitions, visit <a class="govuk-link" href="/glossary">our glossary</a>.</p>


</div>

                      <div class="govuk-grid-column-one-third"></div>



                    </div>



                  </main>



                </div>
              </div>



              {% endblock %}
