{% extends "layouts/main.html" %}

show_subnav: true


{% block header %}



  <!-- Blank header with no service name for the start page -->



  {# {{ govukHeader() }} #}
  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="#" class="govuk-header__link govuk-header__service-name">
        HM Land Registry developer pack
      </a>
    </div>
  </div>
</header>


{% endblock %}



{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">



    <div class="govuk-phase-banner">



      <p class="govuk-phase-banner__content">



        <strong class="govuk-tag govuk-tag--pink">



          Prototype



        </strong>



        <span class="govuk-phase-banner__text">



             This is not a full service. It is not production code and you might experience problems.



        </span>



      </p>



    </div>



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>


      <div class="govuk-grid-row">



        {# <div class="govuk-grid-column-one-third">




          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Before you start</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              <a class="govuk-link" href="/what-to-expect-from-the-developer-pack">What to expect from the developer pack</a>
            </li>
            <li>
              <a class="govuk-link" href="/introduction-to-business-gateway">Introduction to Business Gateway</a>
            </li>
            <li>
              <a class="govuk-link govuk-!-font-weight-bold" href="/terms-of-use">Terms of use</a>
            </li>
          </ul>
          <br>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Explore APIs</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              <a class="govuk-link" href="/learn-about-the-apis-we-use">Learn about the APIs we use</a>
            </li>
            <li>
              <a class="govuk-link" href="/find-a-service-api">Find a service API</a>
            </li>
            <li>
              <a class="govuk-link" href="/a-guide-to-testing">A guide to testing</a>
            </li>
          </ul>
          <br>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Support</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
            <p class="govuk-body govuk-!-font-weight-bold" style="color:#1d70b8">| <a class="govuk-link" href="/contact-us">Contact us</a></p>
            </li>
          </ul>
          <br>







        </div> #}

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">

            <nav class="moj-side-navigation" aria-label="Side navigation">
              <h4 class="moj-side-navigation__title">Section 1</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="#1.1" aria-current="location">Nav item 1.1</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#1.2">Nav item 1.2</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#1.3">Nav item 1.3</a>
                </li>
              </ul>

              <h4 class="moj-side-navigation__title">Section 2</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="#2.1">Nav item 2.1</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#2.2">Nav item 2.2</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#2.3">Nav item 2.3</a>
                </li>
              </ul>
            </nav>

          </div>

        </div>



        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Support</span>
          <h1 class="govuk-heading-xl">Contact us</h1>


          <div class="govuk-grid-row">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-3">Phone</p>

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Telephone: 0300 006 0400 </br>
Monday to Friday, 9am to 5pm (except public holidays) </p>

<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-3">Email</p>

           <p class="govuk-body">
              <a href="#" class="govuk-link govuk-!-margin-left-3">channelpartners@landregistry.gov.uk</a>
            </p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We aim to respond to emails within 2 working days.</p>


</div>

                      <div class="govuk-grid-column-one-third"></div>



                    </div>



                  </main>



                </div>



              {% endblock %}
