{% extends "layouts/main.html" %}

show_subnav: true


{% block header %}



  <!-- Blank header with no service name for the start page -->



  {# {{ govukHeader() }} #}
  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="/homepage" class="govuk-header__link govuk-header__service-name">
        HM Land Registry developer pack
      </a>
    </div>
  </div>
</header>


{% endblock %}



{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">



    <div class="govuk-phase-banner">



      <p class="govuk-phase-banner__content">



        <strong class="govuk-tag govuk-tag--pink">



          Prototype



        </strong>



        <span class="govuk-phase-banner__text">



          This is not a full service. It is not production code and you might experience problems.



        </span>



      </p>



    </div>



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>

                  {# <div style="background-color: #f3f2f1 ; padding: 10px;;">
                    <h1 class="govuk-heading-xl">
                      Create web services using Business Gateway APIs </h1>
                  </div> #}

  <div class="fullWidth">

  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl app-masthead__title">Create web services using Business Gateway APIs</h1>
        <p class="app-masthead__description govuk-body">Use our developer pack to explore APIs, review documentation and check endpoints.</p>
        {# <button type="submit" class="govuk-button" href="/find-a-service-api">
          Find a service API
        </button> #}
        <a href="/find-a-service-api" role="button" draggable="false" class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-button--start" data-module="govuk-button">
Find a service API
  </a>

      </div>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-!-padding-top-0"></div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-left-3"></hr>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l govuk-!-margin-left-3">What's new</h2>
<p class="govuk-body govuk-!-margin-left-3"><b>20 January 2025:</b> HM Land Registry (HMLR) is developing a new service to improve the process of submitting information to HMLR.</p>
<p class="govuk-body govuk-!-margin-left-3">The new Submit an application to change the Land Register service API will help to lodge applications with HMLR to update the register or create a new lease or transfer of part. This new API will replace the existing e-DRS SOAP API and is designed to help applicants get their applications right the first time.</p>
<p class="govuk-body govuk-!-margin-left-3"><a href="/apis/submit-an-application-to-change-the-land-register">Read more about the new Submit an application to change the Land Register service API.</a></p>
</p>
</div>
</div>
</div>
<div class="govuk-!-padding-bottom-7"></div>
<div class="govuk-grid-row">
  <h3 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-left-3">Get started</h3>

  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></hr>
  <h4 class="govuk-heading-s govuk-!-font-weight-bold"><a href="/what-to-expect-from-the-developer-pack">What to expect from the developer pack</a></h4>
        <p class="govuk-body">Includes who this guide is for and how to use it</p>
      </div>
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></hr>
        <h4 class="govuk-heading-s govuk-!-font-weight-bold"><a href="/introduction-to-business-gateway">Introduction to Business<br>Gateway</a></h4>
              <p class="govuk-body">How we help businesses integrate with HM Land Registry (HMLR)</p>
              </div>
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></hr>
        <h4 class="govuk-heading-s govuk-!-font-weight-bold"><a href="/terms-of-use">Terms of use</a></h4>
              <p class="govuk-body">Our Business Gateway policies and practices</p>
              </div>

    </div>

<div class="govuk-grid-row">
              <h3 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-left-3">Explore APIs</h3>

              <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></hr>
              <h4 class="govuk-heading-s govuk-!-font-weight-bold"><a href="/learn-about-the-apis-we-use">Learn about the APIs we use</a></h4>
                    <p class="govuk-body">A breakdown of APIs and when to use them</p>
                  </div>
                  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></hr>
                    <h4 class="govuk-heading-s govuk-!-font-weight-bold"><a href="/find-a-service-api">Find a service API</a></h4>
                          <p class="govuk-body">Choose the right service API to integrate with your system</p>
                          </div>
                  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></hr>
                    <h4 class="govuk-heading-s govuk-!-font-weight-bold"><a href="/a-guide-to-testing">A guide to testing</a></h4>
                          <p class="govuk-body">Includes information on testing best practice</p>
                          </div>

                        </div>
                        <div class="govuk-grid-row">
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-left-3"></hr>
                        <div class="govuk-grid-row">
                          <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m govuk-!-margin-left-3">Support</h2>
                        <p class="govuk-body govuk-!-margin-left-3">Tell us how we can improve Business Gateway and join our community.</p>
                        <p class="govuk-body govuk-!-margin-left-3">The HM Land Registry developer pack is maintained by HM Land Registry (HMLR). If you’ve got a question, idea or suggestion, you can <a href="/contact-us">contact us</a>.</p>
                        </div>
                        </div>
                        </div>

                  </main>



                </div>
              </div>
              </div>



              {% endblock %}
