{% extends "layouts/main.html" %}

show_subnav: true


{% block header %}



  <!-- Blank header with no service name for the start page -->



  {# {{ govukHeader() }} #}

  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="/homepage" class="govuk-header__link govuk-header__service-name">
        HM Land Registry developer pack
      </a>
    </div>
  </div>
</header>



{% endblock %}



{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">



    {{ govukPhaseBanner({
      tag: {
        text: "Prototype",
        classes: "govuk-tag--pink"
      },
      html: 'This is a prototype of a new design for the Business Gateway developer pack. You might experience problems.'
    }) }}



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">

            <nav class="moj-side-navigation" aria-label="Side navigation">
              <h4 class="moj-side-navigation__title">Before you start</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/what-to-expect-from-the-developer-pack" class="govuk-link">What to expect from the developer pack</a>
                </li>

                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="/how-to-access-business-gateway"  aria-current="location" class="govuk-link">How to access Business Gateway</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/terms-of-use" class="govuk-link">Terms of use</a>
                </li>
              </ul>

              <h4 class="moj-side-navigation__title">Explore APIs</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/learn-about-the-apis-we-use" class="govuk-link">Learn about the APIs we use</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/find-a-service-api" class="govuk-link">Find an API</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="/a-guide-to-testing" class="govuk-link">A guide to testing</a>
                </li>
              </ul>

              <h4 class="moj-side-navigation__title">Support</h4>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="/contact-us" class="govuk-link">Contact us</a>
                </li>
                <ul>
            </nav>

          </div>



        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Before you start</span>
          <h1 class="govuk-heading-xl">How to access Business Gateway</h1>


          <div class="govuk-grid-row">

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Business Gateway allows you to integrate your data directly with HMLR systems. You can tailor how you work with us to fit neatly into your existing processes – including using client information already in your case management system (CMS) to create applications. Using Business Gateway can save time and reduce errors.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">If you do not already use a CMS and do not need to streamline or automate processes, then you can submit applications using our <a class="govuk-link" href="https://www.gov.uk/government/publications/digital-registration-service" rel="noreferrer noopener" target="_blank">Digital Registration Service portal (opens in new tab)</a>.</p>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">There are two ways to set up Business Gateway:</p>

  <h3 class="govuk-heading-m govuk-!-margin-left-3">Direct access</h3>

  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Direct access to Business Gateway means when your business links its own existing system or creates a new system that integrates directly with Business Gateway. This access route is often most suitable for companies that have a designated IT resource with development capability. It can be customised specifically to your business needs, creating a bespoke direct access platform.</p>
  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">The timeline for setting up a direct integration platform depends on your internal IT capability and the complexity of the services you are integrating with.</p>
  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We recommend you review the requirements and set-up process with your IT team before starting your direct integration application. They can <a class="govuk-link" href="https://www.gov.uk/guidance/business-gateway-developer-pack" rel="noreferrer noopener" target="_blank">read the technical specification (opens in new tab)</a> and get an understanding of what is required.</p>

  <h3 class="govuk-heading-s govuk-!-margin-left-3">How to set up access</h3>

  <ol class="govuk-list govuk-list--number govuk-!-margin-left-3">
  <li>Sign the development license which can be requested by emailing <a href="#">channelpartners@landregistry.gov.uk</a>. If you are outsourcing the IT development work, the other party will need to sign the development licence.</li>
  <br>
  <li>We'll send a test SSL certificate to the technical contact. This gives your IT team connectivity and access to the test environment so they can start the integration process. Once you have gained connectivity, the integration support team will provide technical and onboarding support throughout the build process.</li>
</ol>

<h3 class="govuk-heading-s govuk-!-margin-left-3">Going live</h3>

<p class="govuk-body govuk-!-margin-left-3">To push content from a test to live environment, you’ll need to <a href="/contact-us">contact us</a>. You should only request a Business Gateway application form if:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
  <li>the CMS is installed on your own machines or servers</li>
  <li>you are developing in-house </li>
</ul>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">You will need to have a business e-services account in place before you can request live access.</p>

<h3 class="govuk-heading-m govuk-!-margin-left-3">Third party access</h3>

<p class="govuk-body govuk-!-margin-left-3">Lots of third party suppliers have developed software that allows access to Business Gateway through a shared CMS platform. Most of our customers access Business Gateway this way. Not all third party platforms can be customised specifically to your business needs but they can provide direct integration for most core HMLR processes. This route to access Business Gateway is usually preferred by businesses with no IT development resource. If you already have a CMS, the provider might already have Business Gateway integration capability.</p>

  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Find out more about <a class="govuk-link" href="https://www.gov.uk/guidance/third-party-access-to-business-gateway" rel="noreferrer noopener" target="_blank">third party access (opens in new tab)</a>.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-left-3">
  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We sometimes use technical terms to describe the work we do at HMLR. For a list of commonly used terms and their definitions, visit <a class="govuk-link" href="/glossary">our glossary</a>.</p>


</div>

                      <div class="govuk-grid-column-one-third"></div>



                    </div>



                  </main>



                </div>



              {% endblock %}
