{% extends "layouts/main.html" %}



{% block header %}



<header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__content govuk-header__content--hmlr">
    <a href="/homepage" class="govuk-header__link govuk-header__service-name">
      HM Land Registry developer pack
    </a>
  </div>
</div>
</header>


{% endblock %}



{% block main %}



<div class="govuk-width-container {{ containerClasses }}">



  {{ govukPhaseBanner({
    tag: {
      text: "Prototype",
      classes: "govuk-tag--pink"
    },
    html: 'This is a prototype of a new design for the Business Gateway developer pack. You might experience problems.'
  }) }}



  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>

                {# <div style="background-color: #f3f2f1 ; padding: 10px;;">
                  <h1 class="govuk-heading-xl">
                    Create web services using Business Gateway APIs </h1>
                </div> #}

<div class="fullWidth">

<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl app-masthead__title">Create web services using Business Gateway APIs prototype</h1>
      <p class="app-masthead__description govuk-body">This is a prototype of a new design for the Business Gateway developer pack. We're asking early adopters to use this version when integrating the new Submit an application to change the land register APIs.</p>

<p class="govuk-body">We've focused on providing you with all the information needed to integrate the new APIs and so you'll find that some information relating to our other SOAP or REST APIs is yet to be added. </p>

<p class="govuk-body">We'll be regularly updating this prototype to include all the information integrators need to build the full package of Business Gateway services.</p>

<p class="govuk-body">As this is just a prototype of the new developer pack, you may experience some issues. It has not been accessibility tested.</p>
<div class="govuk-inset-text">
<b>Version 2.1 June 2025:</b> This version has been agreed for build, considering the capacity of Team Bobin and use of Eleventy (11ty).<br>Luke Gilfoyle is the Front End Developer, working with Jamal Edwards as Business Analyst.</p>
<p class="govuk-body">Notes regarding the build and process of 11ty can be found <a  class="govuk-link" href="/https://landregistryuk.sharepoint.com/:p:/r/sites/V-CADUCDteam/Shared%20Documents/General/Show%20and%20tell/Show%20and%20Tell%20250625%20-%20Copy.pptx?d=wd8ca4535499a4aa5bed4234822e1b7b9&csf=1&web=1&e=J9Icays">here</a>.</div>

    </div>
  </div>
    </div>
  </div>
</div>
</div>


<a href="/v2.1/homepage.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
View developer pack
</a>

<h2 class="govuk-heading-m">Previous iterations</h2>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Version 2- March 2025
        </span>
      </h2>
    </h2>
    <p class="govuk-body">
         This version considers what would be considered 'MVP' for Team Bobin build to meet October go-live.</p>
    </p>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
    <h2 class="govuk-heading-s">
      High level overview
    </h2>
    <p class="govuk-body">This prototype consists of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>User begins on <a class="govuk-link" href="/homepage_v2">homepage</a></li>
      <li>Testing guide is awaiting full content, pending approval of policy</li>
      <li>User can proceed to Find an API <br>This is a limited list for pages that are in scope for redesign. These APIs are Notifications and Submit an application to change the land register</li>
  </li>
      <li>Removal of "What's new" banner on the homepage</li>
    </ul>

    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype checklist</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Status</th>
          <td class="govuk-table__cell"><strong class="govuk-tag">
    Experimental
  </strong></td>
        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">GOV.UK Prototype Kit version</th>
        <td class="govuk-table__cell"> 13.16.2</td>
      </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">GOV.UK brand refresh considered</th>
      <td class="govuk-table__cell">Awaiting guidance for services not on GOV.UK</td>
    </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Prototype phase banner</th>
        <td class="govuk-table__cell">Yes</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Keyboard navigation</th>
        <td class="govuk-table__cell">Yes</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Screen reader</th>
        <td class="govuk-table__cell">Testing required</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Version 1.1- February 2025
        </span>
      </h2>
    </h2>
    <p class="govuk-body">
       </p>
    <p class="govuk-body">This version is following the feedback from the rounds of user research in February 2025, carried out by Katie Mason and Bryony Lindon. The objectives of this user research was to understand how users would naivgate to the VCAD related API information and consider non-technical users use of the documentation.</p>
    <p class="govuk-body">Feedback has been analysed and <a class="govuk-link" href="https://landregistryuk.sharepoint.com/:x:/r/sites/DataSchema/Shared%20Documents/Customer%20Adoption/Dev%20Pack%20Feedback.xlsx?d=wb0dddc1ee59947b0b7d9fe53c5b905d2&csf=1&web=1&e=l2DJVW">actions</a> have been created and agreed.
    </p>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
    <h2 class="govuk-heading-s">
      High level overview
    </h2>
    <p class="govuk-body">This prototype consists of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>User begins on <a class="govuk-link" href="/v1.1/homepage">homepage</a></li>
      <li>Testing guide is awaiting full content, pending approval of policy</li>
      <li>"What's new" removed from the homepage following UR feedback</li>
  </li>
    </ul>
    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype checklist</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Status</th>
          <td class="govuk-table__cell"><strong class="govuk-tag">
    Experimental
  </strong></td>
        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">GOV.UK Prototype Kit version</th>
        <td class="govuk-table__cell"> 13.16.2</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Prototype phase banner</th>
        <td class="govuk-table__cell">Yes</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Keyboard navigation</th>
        <td class="govuk-table__cell">Yes</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Screen reader</th>
        <td class="govuk-table__cell">Testing required</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Version 1- January 2025
        </span>
      </h2>
    </h2>
    <p class="govuk-body">
       </p>
      <p class="govuk-body">
      Due to limitations in research capacity, this design closely follows other documentation across gov, specifically looking at <a class="govuk-link" href="https://developer.service.hmrc.gov.uk/api-documentation">HMRC Developer Hub</a>, <a class="govuk-link" href="https://hmlr-design-system.herokuapp.com/">HMLR Design System</a> and <a class="govuk-link" href="https://design-system.service.gov.uk/">Government Design System</a>.
    </p>
    <p class="govuk-body">
  Prepared for user research sessions in February 2025.</p>

  <p class="govuk-body"> <a class="govuk-link" href="/https://landregistryuk.sharepoint.com/:p:/r/sites/V-CADUCDteam-VCADUserResearch/Shared%20Documents/VCAD%20User%20Research/Business%20Gateway/BG%20Round%207/Dev%20pack%20UR%20report.pptx?d=wefc4663ca68046158b036465a4f4ce35&csf=1&web=1&e=SiTih6">User research playback</a></p>

    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
    <h2 class="govuk-heading-s">
      High level overview
    </h2>
    <p class="govuk-body">This prototype consists of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>User begins on <a class="govuk-link" href="/v1/homepage">homepage</a></li>
      <li>Build from the <a class="govuk-link" href="https://www.figma.com/design/5z3mSGo7xlBMOBcXqDoYST/Business-Gateway?node-id=0-1&t=3QNzH1ca8W5TeC6H-1">Figma explorations</a></li>
    </li>
  </ul>

    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype checklist</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Status</th>
          <td class="govuk-table__cell"><strong class="govuk-tag">
    Tested
  </strong></td>
        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">GOV.UK Prototype Kit version</th>
        <td class="govuk-table__cell"> 13.16.2</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Prototype phase banner</th>
        <td class="govuk-table__cell">Yes</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Keyboard navigation</th>
        <td class="govuk-table__cell">Yes</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Screen reader</th>
        <td class="govuk-table__cell">Testing required</td>
      </tr>
    </tbody>
  </table>

  <p class="govuk-body">To run this prototype, you will need to install the MoJ Design System's side navigation. Guidance can be found <a class="govuk-link" href="https://design-patterns.service.justice.gov.uk/prototyping/setting-up-coded-prototypes/">here</a>.</p>

    </div>
  </div>
</div>
</div>

</div>


    {# <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Iteration 1 (February 2025)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <section>
              <h2 class="govuk-heading-m">
                Overview
              </h2>
              <p class="govuk-body">
                This prototype demonstrates the new developer pack, designed at risk.
              </p>
          </section>

          <section>
              <h2 class="govuk-heading-m">
                Key Changes
              </h2>
              <ul class="govuk-list govuk-list--bullet">
                  <li class="govuk-body">Overall navigation</li>
                  <li class="govuk-body">Information architecture and hierachy</li>
                  <li class="govuk-body">Addition of the 'Submit an application to change the land register API'</li>
            </ul>
          </section>

                {{ govukInsetText({
                  text: "We plan to review this developer pack with early adopters as part of VCAD early adoption scheme with Business Gateway users as they adopt and begin to integrate the Submit an application to change the land register API with their systems."
                }) }}
              </p>
          </section>

          <a href="/homepage" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  View prototype
    </a>

  </div>
</div>
</main>
</div> #}

</div>
</div>
</main>
</div>


{% endblock %}
