{% extends "layouts/main.html" %}

show_subnav: true


{% block header %}



  <!-- Blank header with no service name for the start page -->



  {# {{ govukHeader() }} #}

  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="#" class="govuk-header__link govuk-header__service-name">
        HM Land Registry Developer Pack
      </a>
    </div>
  </div>
</header>



{% endblock %}



{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">



    <div class="govuk-phase-banner">



      <p class="govuk-phase-banner__content">



        <strong class="govuk-tag govuk-tag--pink">



          Prototype



        </strong>



        <span class="govuk-phase-banner__text">



          This is not a full service. It is not production code and you might experience problems.



        </span>



      </p>



    </div>



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>


      <div class="govuk-grid-row">



        <div class="govuk-grid-column-one-third">




          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Before you start</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              <a class="govuk-link govuk-!-font-weight-bold" href="/what-to-expect-from-the-developer-pack">What to expect from the developer pack</a>
            </li>
            <li>
            <p class="govuk-body govuk-!-font-weight-bold" style="color:#1d70b8">| <a class="govuk-link govuk-!-font-weight-bold" href="/introduction-to-business-gateway">Introduction to Business Gateway</a></p>
            </li>
            <li>
              <a class="govuk-link" href="/terms-of-use">Terms of use</a>
            </li>
          </ul>
          <br>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Explore APIs</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              <a class="govuk-link" href="/learn-about-the-apis-we-use">Learn about the APIs we use</a>
            </li>
            <li>
              <a class="govuk-link" href="/find-a-service-api">Find a service API</a>
            </li>
            <li>
              <a class="govuk-link" href="/a-guide-to-testing">A guide to testing</a>
            </li>
          </ul>
          <br>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Support</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              <a class="govuk-link" href="/contact-us">Contact us</a>
            </li>
          </ul>
          <br>







        </div>



        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Before you start</span>
          <h1 class="govuk-heading-xl">Introduction to Business Gateway</h1>


          <div class="govuk-grid-row">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">HM Land Registry's business e-services are for businesses that regularly work with us as part of the conveyancing process to request information from our Land Register or to lodge applications to change the register online. Businesses can submit applications using our <a class="govuk-link" href="/glossary">in-house portal</a> or through our Business Gateway (API) channel.</p>

            <h2 class="govuk-heading-s govuk-!-margin-left-3">Why choose Business Gateway</h2>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Business Gateway allows you to integrate your data directly with our systems. You can tailor how you work with us to fit neatly into your existing processes – including using client information already in your case management system (CMS) to create applications. Using Business Gateway can save time and reduce errors.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">If you do not already use a CMS and do not need to streamline or automate processes, then you can submit applications using our <a class="govuk-link" href="https://www.gov.uk/government/publications/digital-registration-service">Digital Registration Service portal</a>.</p>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">There are two ways to set up Business Gateway:</p>

  <h3 class="govuk-heading-s govuk-!-margin-left-3">Third party access</h3>

  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Lots of third party suppliers who have developed software that allows access to Business Gateway through a shared CMS platform. The majority of our customers access Business Gateway this way. Not all third party platforms can be customised specifically to your business needs, but still provide direct integration for most core HM Land Registry processes. This route to access Business Gateway is usually preferred by businesses with no IT development resource. If you already have a CMS, the provider might already have Business Gateway integration capability.</p>

  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Find out more about <a class="govuk-link" href="/">third party access</a>.</p>

  <h3 class="govuk-heading-s govuk-!-margin-left-3">Direct access</h3>

  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Direct access to Business Gateway means when your business links its own existing system, or creates a new system that integrates directly with Business Gateway. This access route is often most suitable for companies that have a designated IT resource with development capability. It can be customised specifically to your business needs, creating a bespoke direct access platform.</p>

  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Find out more about <a class="govuk-link" href="/">direct access</a>.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We sometimes use technical terms to describe the work we do at HM Land Registry. For a list of commonly used terms and their definitions, visit <a class="govuk-link" href="/glossary">our glossary</a>.</p>


</div>

                      <div class="govuk-grid-column-one-third"></div>



                    </div>



                  </main>



                </div>



              {% endblock %}
