{% extends "layouts/main.html" %}

show_subnav: true


{% block header %}



  <!-- Blank header with no service name for the start page -->



  {# {{ govukHeader() }} #}
  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="/homepage" class="govuk-header__link govuk-header__service-name">
        HM Land Registry developer pack
      </a>
    </div>
  </div>
</header>


{% endblock %}



{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">



    {{ govukPhaseBanner({
      tag: {
        text: "Prototype",
        classes: "govuk-tag--pink"
      },
      html: 'This is a prototype of a new design for the Business Gateway developer pack. You might experience problems.'
    }) }}



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">

          <nav class="moj-side-navigation" aria-label="Side navigation">
            <h4 class="moj-side-navigation__title">Before you start</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="/what-to-expect-from-the-developer-pack">What to expect from the developer pack</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="/how-to-access-business-gateway">How to access Business Gateway</a>
              </li>

              <li class="moj-side-navigation__item moj-side-navigation__item--active">
                <a href="/terms-of-use" aria-current="location">Terms of use</a>
              </li>
            </ul>

            <h4 class="moj-side-navigation__title">Explore APIs</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="/learn-about-the-apis-we-use">Learn about the APIs we use</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="/find-a-service-api">Find an API</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="/a-guide-to-testing">A guide to testing</a>
              </li>
            </ul>

            <h4 class="moj-side-navigation__title">Support</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="/contact-us">Contact us</a>
              </li>
              <ul>
          </nav>

        </div>



        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Before you start</span>
          <h1 class="govuk-heading-xl">Terms of use</h1>


          <div class="govuk-grid-row">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">The terms of use policies explain what users can expect when creating and operating software services that use Business Gateway APIs.</p>
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Any changes to our terms of use will be updated here and highlighted on the developer pack home page.</p>

<h3 class="govuk-heading-s govuk-!-margin-left-3">Breaking change</h3>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">A breaking change policy is currently being drafted and will be available here soon.</p>

<h3 class="govuk-heading-s govuk-!-margin-left-3">Information service schemas</h3>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Due to the impact of delivering new schemas, we will endeavour to schedule a maximum of one release per year. We will only replace a web service immediately if there is a major bug.</p>

<h3 class="govuk-heading-s govuk-!-margin-left-3">New web service</h3>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Notification of the functionality and delivery schedule of a new web service will be through standard customer communication channels and Business Gateway forum.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">All technical details will be published in the Business Gateway developer pack.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">A vendor test facility will go live at the same time as or prior to the web service itself. This will include test stubs, vendor test data, workflows providing business rules and message outputs and schema validation sheets.</p>

<h3 class="govuk-heading-s govuk-!-margin-left-3">Web service deprecation</h3>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Notification of the schedule for deprecation (removal) will come from the standard customer communication channels. The normal deprecation of a web service will be six months from the date of notification, but this may vary in exceptional circumstances.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">All users of a service will receive a final reminder one month before the service is discontinued.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Changes and additions to the service will be contained in the Business Gateway service release notes. Change details relating to the developer pack will be contained in the Business Gateway Developer Pack release notes.</p>

<h3 class="govuk-heading-s govuk-!-margin-left-3">Bug fix releases</h3>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Notification of an emergency bug fix will be through the Service Desk. A new version number will be incorporated into an existing web service name that is being replaced, for example version 1.0 will become version 1.1.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">In this emergency example, version 1.0 will be withdrawn as soon as version 1.1 becomes live.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">A new version of the vendor test facility (stub) will go live at the same time as the web service itself. Integrated vendors will be notified if and/or when they can test the change before it is put live.</p>

<h3 class="govuk-heading-s govuk-!-margin-left-3">Scheduled upgrade releases</h3>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Notification of the changes being made in a new version of an existing web service will be from the standard customer communication channels.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">The new version will run simultaneously with the old, until the old version is deprecated, to avoid the need for all applications to perform a hard cutover.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">A new version number will be incorporated into an existing web service name that is being replaced, for example version 1.0 (or 1.1) will become version 2.0.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">A new version of the vendor test facility will go live at the same time as or prior to the new version of the web service.</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Change details will be contained in the Service Business Gateway release notes on the Business Gateway landing page.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We sometimes use technical terms to describe the work we do at HMLR. For a list of commonly used terms and their definitions, visit <a class="govuk-link" href="/glossary">our glossary</a>.</p>

</div>

                      <div class="govuk-grid-column-one-third"></div>



                    </div>



                  </main>



                </div>



              {% endblock %}
