{% extends "layouts/main.html" %}

show_subnav: true


{% block header %}



  <!-- Blank header with no service name for the start page -->



  {# {{ govukHeader() }} #}
  <header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <a href="#" class="govuk-header__link govuk-header__service-name">
        HM Land Registry Developer Pack
      </a>
    </div>
  </div>
</header>


{% endblock %}



{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">



    <div class="govuk-phase-banner">



      <p class="govuk-phase-banner__content">



        <strong class="govuk-tag govuk-tag--pink">



          Prototype



        </strong>



        <span class="govuk-phase-banner__text">



          This is not a full service. It is not production code and you might experience problems.



        </span>



      </p>



    </div>



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>


      <div class="govuk-grid-row">



        <div class="govuk-grid-column-one-third">




          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Before you start</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              <a class="govuk-link" href="/what-to-expect-from-the-developer-pack">What to expect from the developer pack</a>
            </li>
            <li>
              <a class="govuk-link" href="/introduction-to-business-gateway">Introduction to Business Gateway</a>
            </li>
            <li>
              <p class="govuk-body govuk-!-font-weight-bold" style="color:#1d70b8">| <a class="govuk-link govuk-!-font-weight-bold" href="/terms-of-use">Terms of use</a></p>
            </li>
          </ul>
          <br>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Explore APIs</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              <a class="govuk-link" href="/learn-about-the-apis-we-use">Learn about the APIs we use</a>
            </li>
            <li>
              <a class="govuk-link" href="/find-a-service-api">Find a service API</a>
            </li>
            <li>
              <a class="govuk-link" href="/a-guide-to-testing">A guide to testing</a>
            </li>
          </ul>
          <br>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-left-2" style="color:#505a5f">Support</p>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              <a class="govuk-link" href="/contact-us">Contact us</a>
            </li>
          </ul>
          <br>







        </div>



        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Before you start</span>
          <h1 class="govuk-heading-xl">What to expect from the developer pack</h1>


          <div class="govuk-grid-row">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">The terms of use explain what we expect from you when creating and operating software services that use Business Gateway APIs.</p>
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">The terms of use is not a legal relationship between HM Land Registry and any software developer. Any changes to our terms of use will be updated here and highlighted on the developer pack home page.

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We sometimes use technical terms to describe the work we do at HM Land Registry. For a list of commonly used terms and their definitions, visit <a class="govuk-link" href="/glossary">our glossary</a>.</p>


</div>

                      <div class="govuk-grid-column-one-third"></div>



                    </div>



                  </main>



                </div>



              {% endblock %}
