{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/highlight.min.js"></script>
  <script>
    window.addEventListener("load", function(){
        hljs.highlightAll()
    });
  </script>
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/github.css" rel="stylesheet" type="text/css" />
{% endblock %}
