{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

    {{ govukHeader() }}
    {{ govukServiceNavigation({
        serviceName: serviceName
    })}}

{% endblock %}

{% block footer %}

    <footer class="govuk-footer govuk-footer--hmlr " role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">These links open in a new tab.</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="https://landregistry.github.io/bgtechdoc/accessibility/index.html">
                                            Accessibility Statement
                                          </a>
                    </li>
                </ul>
                <div class="govuk-footer__meta-custom">
                              These links open in a new tab.
                            </div>
            </div>
            <div class="govuk-footer__meta-item">
                <span class="govuk-footer__link govuk-footer__copyright-logo govuk-footer__copyright-logo--hmlr">© Crown copyright</span>
            </div>
        </div>
    </div>
</footer>


{% endblock %}
